<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body <%= userRegistered.color ? `style=background-color:${userRegistered.color};` : "" %> >
  
  <% if(typeof userRegistered != "undefined"){ %>
    <div style="display: flex; justify-content: center; width: 100%;">
      <h2><%= userRegistered.name%>, agradecemos a visita. </h2>
    </div>
  <% } %> 
  
  
</body>
</html>