<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Session e Cookie</title>

  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <main>
    <div class="container">
      <h2>Cadastrando Usuário</h2>
      <form action="/admin/register" method="POST">
        <label for="name">Digite seu nome</label>
        <input type="text" name="name" id="name">

        <label for="colors">Selecione uma cor</label>
        <select name="colors" id="colors">
          <option value="blue">Azul</option>
          <option value="yellow">Amarelo</option>
          <option value="green">Verde</option>
          <option value="red">Vermelho</option>
          <option value="orange">Laranja</option>
          <option value="white">Branco</option>
          <option value="black">Preto</option>
          <option value="pink">Rosa</option>
        </select>

        <label for="email">Digite seu e-mail</label>
        <input type="email" name="email" id="email">

        <label for="age">Digite sua idade</label>
        <input type="number" name="age" id="age">

        <button type="submit" class="send-btn">Enviar</button>

      </form>
    </div>
  </main>
</body>
</html>